<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="demo.spring.security" />
	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="dataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
      <property name="url" value="jdbc:jtds:sqlserver://localhost:1433/ContentsManagenment;instance=SQLEXPRESS" />
      <property name="username" value="sa" />
      <property name="password" value="123456" />
  	</bean>
	


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="model" />
		<property name="hibernateProperties" value="classpath:hibernate.properties" />
		
		
		<property name="annotatedClasses">
          <list>
              <value>demo.spring.security.model.Content</value>
              <value>demo.spring.security.model.Member</value>
              <value>demo.spring.security.model.Role</value>
          </list>
      </property>
		
	</bean>
	
	 <bean id="contentDAO" class="demo.spring.security.DAOimpl.ContentDAOimpl">
	     <property name="sessionFactory" ref="sessionFactory" />
	 </bean>
	 <bean id="registerDAO" class="demo.spring.security.DAOimpl.registerDAOimpl">
	     <property name="sessionFactory" ref="sessionFactory" />
	 </bean>
	 <bean id="loginDAO" class="demo.spring.security.DAOimpl.loginDAOimpl">
	     <property name="sessionFactory" ref="sessionFactory" />
	 </bean>
	<bean id="memberDAO" class="demo.spring.security.DAOimpl.memberDAOimpl">
	     <property name="sessionFactory" ref="sessionFactory" />
	 </bean>
	 
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<mvc:resources mapping="/resources/**" location="/resources/theme1/"  
	cache-period="31556926"/>

</beans>
